//==== HEADER SEARCH BLOCK ====
.header-search-wrapper.bx-sh
	.container
		.row
			.col-3.col-lg-6.col-sm-12
				h1 text
			.col-3.col-lg-6.col-sm-12
				h1 text
			.col-3.col-lg-6.col-sm-12
				h1 text
			.col-3.col-lg-6.col-sm-12
				h1 text