//=========MODAL VACANCY FORM (открывается по клику на элемент с data-target="modal-vacancy")=======
.modal-wrapper.active(data-modal="modal-vacancy")
	.modal-body.bg-grey.form-wrapper.form-wrapper--large
		//===btn close popup ===
		button(type="button" data-role="modal-close").btn-close
			svg.svg-close
				use(href='./img/sprite.svg#svg-close')
		.txt-center.mb-48
			.h2 Технолог швейного производства
		form(action="" enctype="multipart/form-data").form-light.contact-form
			+form-item("Введите Имя Фамилию Отчество", "name")
			.form-column-2
				//====== у невалидного поля внутри form-item  появляется див с классом tooltip , и так же самому инпуту добавляется класс error, при котором у него появляется красный бордер ====
				+form-item-error("Введите Телефон", "phone")
				+form-item("Введите Email", "email")
			.form-item
				label Комментарии
				textarea(name="message" placeholder="Пример заполнения")
			//===кастомный инпут выбора файла, есть к нему скрипт в файле main.js====
			.form-item
				.custom-file-input
					input#file-input.file-input(type='file')
					label.file-label(for='file-input')
						span.file-text Прикрепить файл
						+svg-icon('paper')
			.form-btn
				button(type="submit").btn-accent.w-100 Отправить
			.form-item.txt-center
				.txt-14.txt-center Нажимая кнопку «Зарегистрироваться», вы принимаете <br> условия пользовательского соглашения
				