//=========MODAL SUCCESS SEND FORM =======
//=====окно отображается за счет класса active===
.modal-wrapper.active.modal-wrapper--simple(data-modal="modal-succes-form")
	.modal-body.bg-grey.form-wrapper
		//===btn close popup ===
		button(type="button" data-role="modal-close").btn-close
			svg.svg-close
				use(href='./img/sprite.svg#svg-close')
		.modal-body__content
			+svg-icon('check')(class="check--big")
			.title Ваша заявка<br>принята!