//===заставка-прелоадер, анимирована при помощи css анимации. Длительность вынесена в переменные ===
.preloader.bg-blue.flx-center-column#preloader
	//====logo====
	.logo
		+svg-icon('logo')
	//====line====
	.preloader-line
		span
	.preloader-bottom 2024
