include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		//- link(rel="styesheet", href="../libs/scroll/scroll.css")
		link(rel="stylesheet", href="../css/main.css")

		title UI-KIT
		style.
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Regular.woff2) format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Medium.woff2) format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Inter';
				src: url(../fonts/Inter-Bold.woff2) format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}			
			@font-face {
				font-family: 'SuisseIntl-Regular';
				src: url(../fonts/SuisseIntl-Regular.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto Serif';
				src: url(../fonts/RobotoSerif_SemiExpanded-Medium.woff2) format("woff2");
				font-style: normal;
				font-display: swap;
			}
	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма
				.container-dashboard__content
					h3 Custom select
					div.dark-bg(style="padding:30px;")
						+select(plh="Пример заполнения", inpName = 'input_name')
					pre.
						+select(plh="Пример заполнения", inpName = 'input_name')
					hr
					h3 Поле в форме поиска
					.form-item.form-item--border
						.form-input
							input(type="search" name="search_input" placeholder="Что Вы ищите?")
							//===== кнопка reset ====
							button.btn-clear.flx-center(type="reset")
								svg.svg-close
									use(href='./img/sprite.svg#svg-close')
					pre.
						.form-item.form-item--border
							.form-input
								input(type="search" name="search_input" placeholder="Что Вы ищите?")
								//===== кнопка reset ====
								button.btn-clear.flx-center(type="reset")
									svg.svg-close
										use(href='./img/sprite.svg#svg-close')
					hr
					h3 Миксин элемента формы 
					pre.
						+form-item(error, tltSide, label="Введите логин", inpName="name", pass)
					hr
					div.dark-bg(style="padding:30px;")
						
						+form-item('', '', "Введите имя", "name", '')
					pre.
						+form-item('', '', "Введите имя", "name", '')
					hr
					h3 Невалидное поле. Подсказка по наведению
					div
						+form-item('error', 'left', "Введите имя", "name", '')
						pre.
							+form-item('error', 'left', "Введите имя", "name", '')
					hr
					div
						+form-item('error', 'right', "Введите имя", "name", '')
						pre.
							+form-item('error', 'right', "Введите имя", "name", '')
		
					hr
					div
					h3 Показать / скрыть пароль
					form.form-light
						+form-item('', '', "Введите пароль", "pass", 'pass')
		//=============== jquery ===================
		script(src="../libs/jquery/jquery-3.0.0.min.js")
		//- script(src="../libs/scroll/scroll.min.js")
				
		//=============== мои скрипты ===================
		
		script(src="../js/main.js")