.about{
	.h1-serif{
		width: min(1015px, 100%);
		margin-inline: auto;
		margin-bottom: 40px;
	}
	&-description__title{
		text-align: center;
		padding-top: 120px;
		padding-bottom: 120px;
		@media (max-width: 767px) {
			padding-top: 80px;
			padding-bottom: 64px;
		}

	}
	&-hero{
		@media (max-width: 767px) {
		margin-left: -16px;
		margin-right: -16px;
		}
	}
}
.about-description__img{
	position: relative;
	width: 100%;
	max-width: 923px;
	aspect-ratio: 923 / 1384;
	justify-content: center;
	margin-inline: auto;
	.brand-img{
		position: absolute;
		right: 0;
		top: 16%;
		transform: translateX(50%);
		z-index: 3;
		@media (max-width: 1279px) {
		display: none;
		}
	}
}
.about-description__video{
	padding-top: 60px;
	@media (max-width: 767px) {
	 padding-top: 40px;
	}
}
.brand-label{
	background: var(--logo-red);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	white-space: nowrap;
	color: var(--style);
	padding-inline: 16px;
	
	font-size: 40px;
	@media (max-width: 1199px) {
	    height: 56px;
		font-size: 18px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
		padding-inline: 4px;
		height: 27px;
	}
}
.grey-card{
	margin-top: 16px;
	background: var(--bg-bg-grey);
	padding: 32px 40px 48px;
	&>*+*{margin-top: 16px;}
	@media (max-width: 767px) {
		padding-left: 16px;
		padding-right: 16px;
		
	}
}
.about-description__text{
	@media (max-width: 767px) {
		
		margin-left: -16px;
		margin-right: -16px;
	}
}