.header{
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 64px;
	z-index: 5;
	transition: .3s; 
	.header-container{
		height: 100%;
		align-items: center;
		justify-content: space-between;	
		position: relative;
	}
	.header-left-col,.header-right-col{
		display: flex;
		align-items: center;
		column-gap:24px;
	}
	.link-item{
		font-size: 18px;
		color: var(--style);
		line-height: 1.45;
	}
	@media (max-width: 767px) {
		height: 56px;
	}
}
.header.active{
	background-color: var(--style);
	*{color: var(--text-black)!important;}
}
.header:hover{
	background-color: var(--style);
	* {color: var(--text-black) !important;}
}
.logo{
	width: 199px;
	.svg-logo{
		width: 100%;
	}
	@media (max-width: 767px) {
		width: 147px;
	}
}


