.header{
	
	.header-container{
		height: 64px;
		align-items: center;
		justify-content: space-between;	
		background-color: #2e394d;
		position: relative;
		@media (max-width: 767px) {
			height: 56px;
		}
		
	}
	.header-left-col,.header-right-col{
		display: flex;
		align-items: center;
		column-gap:24px;
	}
	.link-item{
		font-size: 18px;
		color: var(--style);
		line-height: 1.45;
	}
}
.header.active{
	.header-container{background-color: #fff;}
	*{color: var(--text-black)!important;}
}
.logo{
	width: 199px;
	.svg-logo{
		width: 100%;
	}
	@media (max-width: 767px) {
		width: 147px;
	}
}


