.main-hero{
	
	background: rgba(0, 0, 0, .5);
}
.hero-slide{
	height: 100vh;
	&__img {
			position: relative;
			height: 100%;
	
			&:after {
				content: '';
				position: absolute;
				inset: 0;
				background-color: rgba(0, 0, 0, .3);
			}
		}
	
		img {
			width: 100%;
			height: 100%;
			object-position: top;
		}
	&__text{
		position: absolute;
		z-index: 2;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);
		color: white;
		text-align: center;
		
		.svg-chevron-right{
			color: var(--style);
		}
		.center-group{
			column-gap:70px;
			.chevron-link{white-space: nowrap;}
			@media (max-width: 1199px) {
				column-gap: 60px;
			}
			@media (max-width: 767px) {
				column-gap: 30px;
			}
		}
		@media (max-width: 1199px) {
			bottom: 108px;
			width: 100%;
			padding-inline:24px;
		}
	}
}



 .swiper-rect {
 	position: absolute;
 	top: 0;
 	height: 100%;
 	width: 440px;
	background: linear-gradient(90deg,#E3000F 30%, #2e394d 30%, #2e394d 100%,);
 	z-index: 10;
 	display: none;
	
 }

 @keyframes slideRectForward {
 	0%{
 		transform: translateX(0);
		
 	}
	80%{
		width: 360px;
	}
 	100% {
 		transform: translateX(calc(100vw - 100%));
		
		width: 0;
 		/* Moving the entire width of the swiper */
 	}
 }

 @keyframes slideRectBackward {
 	0% {
 		transform: translateX(calc(100vw - 100%));
		
 	}
	80% {
		width: 360px;
	}
 	100%{
 		transform: translateX(0);
		
		width: 0;
 		/* Moving the entire width of the swiper */
 	}
 }