.main-hero{
	
	background: rgba(0, 0, 0, .5);
}
.hero-slide{
	height: 100dvh;
	&__img {
			position: relative;
			height: 100%;
	
			&:after {
				content: '';
				position: absolute;
				inset: 0;
				background-color: rgba(0, 0, 0, .3);
			}
		}
	
		img {
			width: 100%;
			height: 100%;
			object-position: top;
		}
	&__text{
		position: absolute;
		z-index: 2;
		bottom: 70px;
		left: 50%;
		opacity: 0;
		transform: translateX(-50%) scale(0.8);
		transition: opacity 0.3s, transform 0.3s;
		color: white;
		text-align: center;
		
		.svg-chevron-right{
			color: var(--style);
		}
		.center-group{
			column-gap:70px;
			.chevron-link{white-space: nowrap;}
			@media (max-width: 1199px) {
				column-gap: 60px;
			}
			@media (max-width: 767px) {
				column-gap: 30px;
			}
		}
		@media (max-width: 1199px) {
			bottom: 108px;
			width: 100%;
			padding-inline:24px;
		}
	}
}
.hero-slide__text.active {
	opacity: 1;
	transform:translateX(-50%) scale(1);
	animation: textZoomIn var(--slideTitleAnimation) forwards;
	animation-name: textZoomIn;
	animation-duration:var(--slideTitleAnimation);
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
 .swiper-rect {
 	position: absolute;
 	top: 0;
 	height: 100%;
 	width: 440px;
	background: linear-gradient(90deg,#E3000F 140px, #2e394d 140px, #2e394d 300px);
	
 	z-index: 10;
 	display: none;
	
	@media (max-width: 767px) {
		width: 180px;
	}
 }
@keyframes slideRectBackward {
	0% {
		transform: translateX(99vw);

	}

	70% {
		width: 380px;
		background: linear-gradient(90deg, #E3000F 90px, #2e394d 90px, #2e394d 380px);
	}
	80%{
		width: 210px;
		background: linear-gradient(90deg, #E3000F 70px, #2e394d 70px, #2e394d 210px);
	}
	90% {
		width: 90px;
		background: linear-gradient(90deg, #E3000F 30px, #2e394d 30px, #2e394d 90px);
	}
	100% {
		transform: translateX(-10px);
		width: 0;

	}
}
 @keyframes slideRectForward {
 	0%{transform: translateX(0);}
	70% {
		width: 380px;
		background: linear-gradient(90deg, #E3000F 90px, #2e394d 90px, #2e394d 380px);
	}

	80% {
		width: 210px;
		background: linear-gradient(90deg, #E3000F 70px, #2e394d 70px, #2e394d 210px);
	}

	90% {
		width: 90px;
		background: linear-gradient(90deg, #E3000F 30px, #2e394d 30px, #2e394d 90px);
	}	
 	100% {
 		transform: translateX(99vw);
		width: 0;
 	}
 }

 
 @media (max-width: 767px) {
	@keyframes slideRectBackward {
		0% {transform: translateX(98vw);}
			80% {
				width: 120px;
				background: linear-gradient(90deg, #E3000F 40px, #2e394d 40px, #2e394d 120px);
			}
	
			90% {
				width: 90px;
				background: linear-gradient(90deg, #E3000F 30px, #2e394d 30px, #2e394d 90px);
			}
		
			100% {
				transform: translateX(-10px);
				width: 0;
			}
	}
	@keyframes slideRectForward {
		0% {transform: translateX(0);}
		80% {
			width: 120px;
			background: linear-gradient(90deg, #E3000F 40px, #2e394d 40px, #2e394d 120px);
		}

		90% {
			width: 90px;
			background: linear-gradient(90deg, #E3000F 30px, #2e394d 30px, #2e394d 90px);
		}

		100% {
			transform: translateX(99vw);
			width: 0;
		}

	}
 }

 @keyframes textZoomIn {
 	0% {
 		transform: translateX(-50%) scale(0.8);
 		opacity: 0;
 	}

 	20% {
 		transform: translateX(-50%) scale(1);
 		opacity: 1;
 	}
	70% {
		transform: translateX(-50%) scale(1);
		opacity: 1;
	}
	100%{
		transform: translateX(-50%) scale(0.8);
		opacity: 0;
	}
 }