.manual{
	
	&-content__left, &-content__img{
		grid-column:  span 6;
		@media (max-width: 1279px) {grid-column: span 12;}
	}
	&-content__left{
		display: flex;
		flex-direction: column;
		row-gap:16px;
	}
	.blue-card{
		ol, ul
		{margin-top: 60px;
			li+li{margin-top: 24px;}
		}
	}
	.manual-content__img{
		position: sticky;
		top:64px;
		width: 100%;
		height: 100%;
		background-size: cover;
		@media (max-width: 1279px) {
		aspect-ratio: 343 / 487;
		}
	}
	@media (max-width: 767px) {
	.grey-card, .blue-card{
		margin-left: -16px;
		margin-right: -16px;
	}
	}
}
.manual-symbols{
	.h2{margin-bottom: 24px;}
	svg[class^="svg-"]{
		width: 48px;
		height: 48px;
	}
}