.page-404__content{
	width: min(380px, 100%);
	margin-inline: auto;
	text-align: center;
	.logo-404{
		column-gap:10px;
		margin-bottom: 48px;
		.brand-logo{
			opacity: 1;
			width: 204px;
			height: 198px;
			animation-name: scale;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			transform: rotate(-10deg);
		}
		span{
			font-weight: 600;
			font-size: 120px;
			line-height: 0.83;
			
		}
	}
}
@keyframes scale{
	0%{
		transform: rotate(10deg);
	}
}