footer.footer
	.container
		.row
			.col-2
				.footer-logo
					a(href="#!").logo
						+svg-icon('logo')
			.col-2.offset-2
				nav.menu-nav
					.semi-16 Для мужчин
					a(href="#!") Весна 2024 Мужская коллекция
					a(href="#!") Зима 2024 Мужская коллекция
					
			.col-2
				nav.menu-nav
					.semi-16 Для женщин
					a(href="#!") Весна 2024  Женская коллекция
					a(href="#!") Зима 2024 Женская коллекция
			
			.col-1.offset-1
				nav.menu-nav
					a(href="#!") О бренде
					a(href="#!") Вакансии
					a(href="#!") Контакты
					a(href="#!") Где купить
			.col-2
				nav.menu-nav
					a(href="#!") Технологии и материалы
					a(href="#!") Таблица размеров
					a(href="#!") Уход за изделеем
					