header.header
	.header-container
		a(href="#!").logo.logo--white
			+svg-icon('logo')
		.header-menu-wrapper
			.header-menu
				ul.menu-list
					li.menu-list 
						a(href="#!") Для мужчин
						ul
							li
								a(href="#!")