section.main-hero
	.main-hero-slider.swiper
		.swiper-wrapper
			//==== single slide =====
			.swiper-slide
				.hero-slide
					.hero-slide__img
						picture
							source(srcset="./img/main-slider/slide-w370@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)")
							source(srcset="./img/main-slider/slide-w370.webp", media="(max-width: 767px)")
							source(srcset="./img/main-slider/slide@2x.webp", media="(min-resolution: 192dpi)")
							img.lazy(src="./img/main-slider/slide.webp", width="1920" height="1080" alt="img")
					
					//===== slide text ====
					.hero-slide__text
						.h1-serif(data-swiper-parallax-y="200") Коллекция NorthBloom Лето 2024
						.center-group.mt-24(data-swiper-parallax-y="200")
							a(href="catalogy.html").txt-24.chevron-link 
								span Для мужчин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
							a(href="catalogy.html").txt-24.chevron-link 
								span Для женщин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
			//==== single slide =====
			.swiper-slide
				.hero-slide
					.hero-slide__img
						picture
							source(srcset="./img/main-slider/slide-w370@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)")
							source(srcset="./img/main-slider/slide-w370.webp", media="(max-width: 767px)")
							source(srcset="./img/main-slider/slide2@2x.webp", media="(min-resolution: 192dpi)")
							img.lazy(src="./img/main-slider/slide2.webp", width="1920" height="1080" alt="img")
					
					//===== slide text ====
					.hero-slide__text
						.h1-serif(data-swiper-parallax-y="200") Коллекция NorthBloom Лето 2024
						.center-group.mt-24(data-swiper-parallax-y="200")
							a(href="catalogy.html").txt-24.chevron-link 
								span Для мужчин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
							a(href="catalogy.html").txt-24.chevron-link 
								span Для женщин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
			//==== single slide =====
			.swiper-slide
				.hero-slide
					.hero-slide__img
						picture
							source(srcset="./img/main-slider/slide-w370@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)")
							source(srcset="./img/main-slider/slide-w370.webp", media="(max-width: 767px)")
							source(srcset="./img/main-slider/slide@2x.webp", media="(min-resolution: 192dpi)")
							img.lazy(src="./img/main-slider/slide.webp", width="1920" height="1080" alt="img")
					//===== slide text ====
					.hero-slide__text
						.h1-serif(data-swiper-parallax-y="200") Коллекция NorthBloom Лето 2024
						.center-group.mt-24(data-swiper-parallax-y="200")
							a(href="catalogy.html").txt-24.chevron-link 
								span Для мужчин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
							a(href="catalogy.html").txt-24.chevron-link 
								span Для женщин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
			//==== single slide =====
			.swiper-slide
				.hero-slide
					.hero-slide__img
						picture
							source(srcset="./img/main-slider/slide-w370@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)")
							source(srcset="./img/main-slider/slide-w370.webp", media="(max-width: 767px)")
							source(srcset="./img/main-slider/slide@2x.webp", media="(min-resolution: 192dpi)")
							img.lazy(src="./img/main-slider/slide2.webp", width="1920" height="1080" alt="img")
					
					//===== slide text ====
					.hero-slide__text
						.h1-serif(data-swiper-parallax-y="200") Коллекция NorthBloom Лето 2024
						.center-group.mt-24(data-swiper-parallax-y="200")
							a(href="catalogy.html").txt-24.chevron-link 
								span Для мужчин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')
							a(href="catalogy.html").txt-24.chevron-link 
								span Для женщин
								svg.svg-chevron-right
									use(href='./img/sprite.svg#svg-chevron-right')

		.main-hero-pagination.swiper-pagination
		.swiper-rect