section.manual
	.container
		//====хлебные крошки===
		.breadcrumbs
			//===ссылки отображаются на десктоп версии и скрываются на < 1024px
			a(href="index.html") Главная
			a(href="#!")  Инструкция по уходу
			//===== этот пункт хлебных крошек отображается на экранах до 1024px
			p
				a(href="index.html").txt-24.chevron-link
					svg.svg-chevron-left
						use(href='./img/sprite.svg#svg-chevron-left')
					span Вернуться
		//====заголовок===
		.section-title.section-title--center
			h1.h1-serif Инструкция по уходу за изделиями NorthBloom
			p Верхняя одежда – дорогостоящая инвестиция в Ваш комфорт в холодное время года. Для того, чтобы наши изделия служили долго, и их первоначальный вид радовал Вас не один сезон, рекомендуется соблюдать простые правила по уходу за изделиями «NorthBloom»
		//====content grig ====
		.manual-content.content-grid
			//====left column ===
			.manual-content__left
				.blue-card
					.h2  Рекомендации
					p Верхняя одежда – дорогостоящая инвестиция в Ваш комфорт в холодное время года. Для того, чтобы наши изделия служили долго, и их первоначальный вид радовал Вас не один сезон, рекомендуется соблюдать простые правила по уходу за изделиями «NorthBloom»
					ol
						li Перед стиркой проверьте карманы на наличие посторонних предметов.
						li Застегните все молнии, кнопки и пуговицы, имеющиеся на изделии. Отстегните мех (при наличии), извлеките градусник и выверните изделие наизнанку.
						li При настройке программы стиральной машины убедитесь, что температура не превышает 30 градусов.
						li Пользуйтесь специальным жидким моющим средством «Northbloom» для стирки верхней одежды.
						li Во избежание появления разводов на темной ткани рекомендуется дополнительное полоскание.
						li При стирке не пользуйтесь машинным отжимом, чтобы изделие не деформировалось.
						li Сушить изделие необходимо в горизонтальном положении при комнатной температуре.
						li При глажении не рекомендуется пользоваться паром, это может привести к необратимой деформации ткани верха.
						li После высыхания изделия рекомендуется нанесение специальной пропитки. Это сохранит водоотталкивающие свойства плащевой ткани.
						li Храните изделие в сухом проветриваемом помещении.

				.grey-card.manual-symbols
					p.h2 Символы по уходу, чаще всего встречающиеся в одежде NorthBloom
					ul.icons-list
						li
							+svg-icon('hand-wash')
							p Допускается ручная стирка при температуре 30°С
						li
							+svg-icon('machine-drying')
							p Машинная сушка запрещена
						li
							+svg-icon('not-bleach')
							p Не отбеливать, не использовать моющие средства и порошки с хлором
						li
							+svg-icon('dry')
							p Химическая чистка любыми растворителями запрещена
						li
							+svg-icon('iron')
							p Гладить при температуре не выше 110°С
			//=====video acordion====
			.manual-content__img(style="background-image: url('./img/manual.webp')")
				//- picture
				//- 	source(srcset="./img/manual-w375@2x.webp", media="(max-width: 767px) and (min-resolution: 192dpi)")
				//- 	source(srcset="./img/manual-w375.webp", media="(max-width: 767px)")
				//- 	source(srcset="./img/manual@2x.webp"  media="(min-resolution: 192dpi)")
				//- 	img.lazy.img-cover(src="./img/manual.webp", width="923" height="1384" alt="img")