section.single-product
	.container
		.content-grid
			.single-product__foto

			.single-product__info
				//===breadcrumbs====
				.breadcrumbs
					//===ссылки отображаются на десктоп версии и скрываются на < 1024px
					a(href="#!") Главная
					a(href="#!") Весна 2024 для женщин
					a(href="#!") Пуховик
					//===== этот пункт хлебных крошек отображается на экранах до 1024px
					p
						a(href="index.html").txt-24.chevron-link
							svg.svg-chevron-left
								use(href='../img/sprite.svg#svg-chevron-left')
							span Вернуться
				
				//===content====
				.product-title
					.title-24 Ge[jdbr]
