section.size-page
	.container
		//====хлебные крошки===
		.breadcrumbs
			//===ссылки отображаются на десктоп версии и скрываются на < 1024px
			a(href="index.html") Главная
			a(href="#!") Таблицы размеров
			//===== этот пункт хлебных крошек отображается на экранах до 1024px
			p
				a(href="index.html").txt-24.chevron-link
					svg.svg-chevron-left
						use(href='./img/sprite.svg#svg-chevron-left')
					span Вернуться
		//====заголовок===
		.section-title
			h1.h1-serif Таблицы размеров
			p Размерная сетка курток NorthBloom соответствует российским стандартным размерам одежды.  Предложенные таблицы помогут Вам подобрать куртку подходящего размера.
		
		//====content  ====
		.size-page-content
			.size-table-single
				.h2.mb-24 Женщины
				.size-table-inner.scroll-wrapper
					table.size-table
						thead
							tr
								th Размер
								th Рост
								th Обхват груди
								th Обхват талии
								th Обхват бёдер
						+tableRows([44, 88, 88, 68, 96], 13)
			//===== single block =====
			.size-table-single
				.h2.mb-24 Мужчины
				.size-table-inner.scroll-wrapper
					table.size-table
						thead
							tr
								th Размер
								th Рост
								th Обхват груди
								th Обхват талии
								th Обхват бёдер
						+tableRows([44, 88, 94, 78, 96], 13)