section.stores
	.container
		//====хлебные крошки===
		.breadcrumbs
			//===ссылки отображаются на десктоп версии и скрываются на < 1024px
			a(href="index.html") Главная
			a(href="#!")  Где купить
		
		.filters-block.flx-center
			+select2("Название города", 'city_name')(class="filter-select")
			+select2("Тип магазина", 'store_type')(class="filter-select")
			.display-togggle.flx-center.toggle-group
				.display-table.toggle-item.active
					+svg-icon('bar')
					span Список
				.display-map.toggle-item
					+svg-icon('pin')
					span На карте