section.technology
	.container
		//====хлебные крошки===
		.breadcrumbs
			//===ссылки отображаются на десктоп версии и скрываются на < 1024px
			a(href="#!") Главная
			a(href="#!")  Материалы и технологии
		
		//====заголовок===
		.section-title
			h1.h1-serif Материалы и технологии
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		//====content grig ====
		.technology-content.content-grid
			//====left column ===
			.technology-wrapper
				.link-group
					a(href="#!").accent-link.txt-20 Comfort System Life
					p Представляем новинку от NorthBloom! Комплекс усовершенствований для демисезонной одежды.
				.link-group
					a(href="#!").accent-link.txt-20 Вискоза
					p Вискоза является наиболее оптимальным вариантом для изготовления подкладки
				.link-group
					a(href="#!").accent-link .txt-20Утеплитель Файбертек
					p Утеплитель Файбертек – экологически чистый материал, произведенный из тончайших полых полиэфирных волокон.екс усовершенствований для демисезонной одежды.
				.link-group
					a(href="#!").accent-link.txt-20 Comfort System Life
					p Представляем новинку от NorthBloom! Комплекс усовершенствований для демисезонной одежды.
				.link-group
					a(href="#!").accent-link.txt-20 Comfort System Life
					p Представляем новинку от NorthBloom! Комплекс усовершенствований для демисезонной одежды.
			
			//=====video acordion====
			.technology-acordion
				//=========acordion========
				.accordion-group.accordion-group--light
					//=======single item =====
					.accordion-header.open.txt-20 Наши технологии (название ролика 1). Название обрезается троеточием, когда длинное
					.accordion-body(style="display:block;")
						.video-wrapper
							video.video.lazy(playsinline)
								source(src="./video/video.mp4", type="video/mp4")
							//==== btn play ====
							.btn-play-wrapper	
								button.btn-play
							.video-poster
								img.lazy.img-cover(src="./img/poster.webp")
					//=======single item =====  
					.accordion-header.txt-20 Наши технологии (название ролика 1)
					.accordion-body
						.video-wrapper
							video.video.lazy(playsinline)
								source(src="./video/video.mp4", type="video/mp4")
							//==== btn play ====
							.btn-play-wrapper	
								button.btn-play
							.video-poster
								img.lazy.img-cover(src="./img/poster.webp")
					//=======single item =====  
					.accordion-header.txt-20 Наши технологии (название ролика 1)
					.accordion-body
						.video-wrapper
							video.video.lazy(playsinline)
								source(src="./video/video.mp4", type="video/mp4")
							//==== btn play ====
							.btn-play-wrapper	
								button.btn-play
							.video-poster
								img.lazy.img-cover(src="./img/poster.webp")
					//=======single item =====  
					.accordion-header.txt-20 Наши технологии (название ролика 1)
					.accordion-body
						.video-wrapper
							video.video.lazy(playsinline)
								source(src="./video/video.mp4", type="video/mp4")
							//==== btn play ====
							.btn-play-wrapper
								button.btn-play
							.video-poster
								img.lazy.img-cover(src="./img/poster.webp")
					//=======single item =====  
					.accordion-header.txt-20 Наши технологии (название ролика 1)
					.accordion-body
						.video-wrapper
							video.video.lazy(playsinline)
								source(src="./video/video.mp4", type="video/mp4")
							//==== btn play ====
							.btn-play-wrapper
								button.btn-play
							.video-poster
								img.lazy.img-cover(src="./img/poster.webp")