section.vacacies
	.container
		//====хлебные крошки===
		.breadcrumbs
			//===ссылки отображаются на десктоп версии и скрываются на < 1024px
			a(href="#!") Главная
			a(href="#!") о компании
			a(href="#!") вакансии
		
		//====заголовок===
		.section-title
			h1.h1-serif Вакансии
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
		//====content grig ====
		.vacancies-content.content-grid
			//=========acordion========
			.vacancies-accordion
				.accordion-group
					//=======single item =====
					.accordion-header.txt-20 Технолог швейного производства
					.accordion-body.custom-text
						p Технолог швейных изделий – это специалист, который отвечает за создание новых моделей одежды и подготовку их к массовому производству.  В его обязанности входит разработка конструкции новых моделей, подбор  тканей и фурнитуры, расчёт норм материалов и времени производства.
						p Требуемый опыт работы: более 6 лет
						p Полная занятость, полный день
						h3 Требования к кандидату ​​​​​​:
						ul
							li Опыт работы на швейном производстве в качестве технолога.
							li Конструкторский САПР, умение работать с компьютерными программами, которые используются в швейном производстве.
							li Знание  технологий по производству швейных изделий и умение работать с  различными материалами, знание особенностей тканей и конструкций  изделий.
							li Коммуникабельность и умение сотрудничать с  нашими конструкторами и технологами других производств с целью поиска  оптимальных решений.
							li Организационные навыки и умение планировать свою работу.

					
					
					//=======single item =====
					.accordion-header.txt-20 Вы работаете только с гражданами РФ?
					.accordion-body
						p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit nostrum error hic illum eius consequatur molestiae repellat fugiat quae porro cum excepturi nulla fugit, vero suscipit minus exercitationem quam veritatis!