:root {
	--bg-blue:#2e394d;
	--white: #ffffff;
	--error: #ff2313;
	--fill-icon: #222;
	--grey-line: #e1e1e1;
	--logo-red: #e3000f;
	--link: #1a60b4;
	--style: #fff;
	--text-white: #fff;
	--text-black: #222;
	--text-grey: #929292;
	--text-grey-input: #b2b2b2;
	// --button-black: #222;
	--button-hover: #313131;
	--black-button: #222222;
	--button-disabled: #e0e0e0;
	--button-accent: #93ab42;
	--button-accent-hover:#a9bc68;
	--accent-hover: #a9bc68;
	--accent: #93ab42;
	--imput-imput-gray: #f8f8f8;
	--imput-imput-white: #fff;
	--bg-bg-grey: #f6f6f6;
	--bg-bg-blue: #fff;
	--bg-bg-white: #fff;

	--preloaderHideDelay: 5s;
	--preloaderFillDuration:3s;
}

*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	color: var(--text-black);
	font-family: $reg;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: -0.02em;
	-webkit-font-smoothing: antialiased;
}
body.lock{
	height: 100vh;
	overflow: hidden;
	padding-right: 17px;
	@media (max-width: 1199px) {
		padding-right: 0;
	}
}
a, button{display: inline-block;}
a,
a:hover {
	text-decoration: none;
	color: inherit
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
}
.img-cover{
	width: 100%;
	height: 100%;
}
input,
button,
textarea,select,
button:focus,
input:focus,
textarea:focus, select:focus {
	outline: none;
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
}

input[type="submit"] {
	padding: 0;
	cursor: pointer;
}

input[type="radio"],
input[type='checkbox'],
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
section{
	padding-top: 16px;
}
.inner-main{
	background-color: #fff;
	padding-top: 64px;
	padding-bottom: 80px;
	@media (max-width: 767px) {
		padding-top: 56px;
	}
}
.page-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&>*{width: 100%;}
	&>.header, &>.footer{
		flex-shrink: 0;
	}
	&>main{flex-grow: 1;}
}
.container, .header-container{
	width: min( 1920px, 100%);
	padding-inline: 24px;
	margin-inline: auto;
}

.social-block, .social-block a{
	display: flex;
	align-items: center;
}
.social-block{column-gap:10px;}
.social-block	a{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--style);
	color: var(--fill-icon);
	justify-content: center;
}

