.svg-logo{
	color: $dark;
	width: 199px;
	height: 40px;
}
.logo.logo--white .svg-logo{
	color: var(--white);
	
}

.svg-bar, .svg-check, .brand-logo{
	color: var(--fill-icon);
}
.svg-bar, .svg-check, .svg-chevron-down,.svg-chevron-up, .svg-chevron-left, .svg-chevron-right,.svg-close, .svg-dry, .svg-eye, .svg-eye-close, .svg-info, .svg-minus, .svg-paper, .svg-pin, .svg-plus, .svg-search, .svg-video,.svg-burger{
	fill: transparent;
	width: 24px;
	height: 24px;
	color: var(--fill-icon);
}
.svg-close{
	transition: .3s;
	&:hover {color: black;}
}
.svg-fleur{
	width: 26px;
	height: 24px;
	color: var(--fill-icon);
}

.svg-check.check--big{
	width: 80px;
	height: 80px;
	color: var(--accent);
	
}
.svg-hand-wash, .svg-iron, .svg-machine-drying,.svg-not-bleach{
	width: 24px;
	height: 24px;
	fill: transparent;
}
.btn-play{
	width: 90px;
	height: 90px;
	background-color: var(--text-grey);
	border-radius: 50%;
	background-image: url(../img/icons/play.svg);
	background-size: 21px 20px;
	background-repeat: no-repeat;
	background-position: center;
	transition: .3s; 
	&:hover{
		background-color: var(--text-grey-input);
	}
	@media (max-width: 767px) {
		width: 45px;
		height: 45px;
		background-size: 11px 11px;
	}
}
.brand-logo{
	width: 334px;
	height: 318px;
	opacity:0.2;
}
