.h1, .h1-serif, .title-96,.brand-label{
	font-weight: 500;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: normal;
	@media (max-width: 767px) {
		font-size: 32px;
		line-height: 1.25;
	}
}
.h1-serif, .title-96, .brand-label{
	font-family: $serif;
	
}
.title-96{
	font-size: 96px;
	@media (max-width: 1199px) {
		font-size: 40px;
	}
	@media (max-width: 767px) {
		font-size: 32px;
	}
}
.h2{
	font-weight: 500;
	font-size: 32px;
	line-height: 1.25;
	
	@media (max-width: 767px) {
		font-size: 28px;
		font-weight: 400;
	}
}
.title{
	font-weight: 500;
	font-size: 54px;
	line-height: 1.1;
	text-align: center;
	@media (max-width: 767px) {
	font-size: 40px;
	line-height: 1.2;
	}
}
.txt-24,.title-24{
	font-weight: 400;
	font-size: 24px;
	line-height: 1.25;
	
	@media (max-width: 767px) {
	font-size: 18px;
	}
}
.title-24{
	font-weight: 500;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}
.txt-20{
	font-weight: 400;
	font-size: 20px;
	line-height: 1.40;
	
}
.txt-18{
	font-weight: 400;
	font-size: 18px;
	line-height: 1.45;
	
}
.semi-16{
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	
}
.txt-bold{font-weight: 700;}
.txt-14{
	font-size: 14px;
	line-height: 1.40;
}
*.txt-accent{
	color: var(--accent);
	&:hover{
		color: var(--accent-hover);
	}
}
*.txt-center{text-align: center;}
.link-item{
	transition: .3s;
	padding-block: 1px;
	border-bottom:1px solid transparent;
	display: inline;
	&:hover{
		opacity: 0.7;
	}
}
.accent-link, .blue-link{
	color: var(--link);
}
.blue-link{
	transition: .3s;
	border-bottom: 1px solid currentColor;
	display: inline-block;
	
	&:hover {
		opacity: .7;
	}
}

.link-group, .links-column{
	&>*+*{margin-top: 8px;}
}
.size-table-link, *.txt-grey{
	color: var(--text-grey);
}
.link-text{
	display: inline;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	
	&:hover {
		opacity: .7;
	}
}

.basic-list {
	li {
		display: flex;
		align-items: center;
		column-gap: 8px;
		text-transform: uppercase;

		span {
			color: var(--text-grey)
		}
	}

	li+li {
		margin-top: 16px;
	}
}

.circle-list {
	list-style-type: disc;
	margin-left: 16px;
}
.icons-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap:24px;
	row-gap:16px;
	li{
		display: flex;
		flex-direction: column;
		row-gap:8px;
	}
	@media (max-width: 767px) {
	grid-template-columns: 1fr;
	}
}
.custom-text, *.custom-text {
	&>*+*{margin-top: 32px!important;}
	p+p{margin-top: 12px!important;}
	ul{
		padding-left: 16px;
		list-style-type: disc;
	}
	
	h3, h4,h5,h6{
		font-weight: 600;
		font-size: 16px;
		line-height: 1.5;
		margin-top: 32px;
		&+ul{
			margin-top: 16px!important;
		}
	}
}

.dot-list li,
.dot-item{
	position: relative;
	color: var(--text-grey);
	padding-left: 16px;
	&:before{
		content:'';
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: currentColor;
		position: absolute;
		left: 0;
		top: 7px;
	}
}
