//- ===== colors ======
$text: #222222;
$dark: #222222;
$bgDark: #2E394D;
$accent: #93AB42;
$red: #E3000F;
$white: #ffffff;

$reg: 'Inter';
$serif: 'Roboto Serif';
$suisse: 'SuisseIntl-Regular';
$viewport: 1872px;
@media (max-width: 1919px) {
	$viewport: calc(100vw - 16px);
}

@media (max-width: 767px) {
	$viewport: calc(100vw - 16px);
}

$column-width: calc($viewport / 12);