input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
}
form{
  &>*+*{margin-top: 16px;}
}
.form-wrapper,.form-wrapper.form-wrapper--large{
  width:min(608px, 100%);
  padding: 64px 40px;
 
  .title-group{
    margin-bottom: 40px;
    &>*+*{margin-top: 16px;}
  }
  @media (max-width: 1023px) {
    padding: 32px 16px;
  }
}

.form-wrapper.pt-128{
  padding-top: calc(64px +64px);
  @media (max-width: 1023px) {
      padding-top: calc(32px +56px);
    }
}
.form-wrapper.form-wrapper--large{
  width: min(960px, 100%);
}
input,
textarea, select {
  width: 100%;
  display: block;
  color: var(--text-black);
  font-size: 18px;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    color: var(--text-grey-input);
    opacity: .6;
  }
}
.form-item{
  position: relative;
  
  input, textarea, select{
    height: 64px;
    padding-inline: 16px;
    background-color: var(--style);
    border: 1px solid var(--style);
    @media (max-width: 767px) {
    height: 56px;
    }
    &.error{
      border-color: var(--error);
    }
    textarea{
      resize: none;
      height: 128px;
      @media (max-width: 767px) {
        height: 96px;
      }
    }
  }
  label{
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color:var(--style);
    
  }
  .svg-info { color: var(--error); }
}
.form-btn{margin-top: 24px;}
.form-input{
  position: relative;
  input{padding-right: 36px;}
 .input-icon{
    position: absolute;
    right: 16px;
    z-index: 2;
    top:50%;
    transform: translateY(-50%);
   
  }
}
.form-input.form-input--pass{
  .input-icon{
    pointer-events: all;
    cursor:pointer;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='12' cy='12' r='3.5' stroke='%23222222' /%3e%3cpath d='M20.188 10.9343C20.5762 11.4056 20.7703 11.6412 20.7703 12C20.7703 12.3588 20.5762 12.5944 20.188 13.0657C18.7679 14.7899 15.6357 18 12 18C8.36427 18 5.23206 14.7899 3.81197 13.0657C3.42381 12.5944 3.22973 12.3588 3.22973 12C3.22973 11.6412 3.42381 11.4056 3.81197 10.9343C5.23206 9.21014 8.36427 6 12 6C15.6357 6 18.7679 9.21014 20.188 10.9343Z' stroke='%23222222' /%3e%3c/svg%3e");
    transition: .2s; 
    background-size: contain;
  }
  &.active{
    .input-icon{
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9202 12.7988C15.9725 12.5407 16 12.2736 16 12C16 9.79086 14.2091 8 12 8C11.7264 8 11.4593 8.02746 11.2012 8.07977L12.1239 9.00251C13.6822 9.06583 14.9342 10.3178 14.9975 11.8761L15.9202 12.7988ZM9.39311 10.5143C9.14295 10.9523 9 11.4595 9 12C9 13.6569 10.3431 15 12 15C12.5405 15 13.0477 14.857 13.4857 14.6069L14.212 15.3332C13.5784 15.7545 12.8179 16 12 16C9.79086 16 8 14.2091 8 12C8 11.1821 8.24547 10.4216 8.66676 9.78799L9.39311 10.5143Z' fill='%23222222'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1545 17.2751L15.4201 16.5406C14.3561 17.1196 13.1994 17.5 12.0007 17.5C10.3289 17.5 8.73889 16.7599 7.36787 15.7735C6.00079 14.79 4.89379 13.5918 4.19865 12.7478C3.7743 12.2326 3.73047 12.1435 3.73047 12C3.73047 11.8565 3.7743 11.7674 4.19865 11.2522C4.86794 10.4396 5.91904 9.29863 7.21645 8.33704L6.50212 7.62271C5.17064 8.63072 4.10457 9.79349 3.42677 10.6164L3.36796 10.6876C3.03744 11.087 2.73047 11.4579 2.73047 12C2.73047 12.5421 3.03744 12.913 3.36796 13.3124L3.42677 13.3836C4.15172 14.2638 5.32087 15.5327 6.78385 16.5853C8.24289 17.635 10.0368 18.5 12.0007 18.5C13.5108 18.5 14.9204 17.9886 16.1545 17.2751ZM9.19066 6.06861C10.0705 5.71828 11.0142 5.5 12.0007 5.5C13.9646 5.5 15.7586 6.365 17.2176 7.41472C18.6806 8.46727 19.8498 9.73623 20.5747 10.6164L20.6335 10.6876C20.9641 11.087 21.271 11.4579 21.271 12C21.271 12.5421 20.9641 12.913 20.6335 13.3124L20.5747 13.3836C20.0943 13.9669 19.4187 14.721 18.5918 15.4697L17.8838 14.7617C18.6794 14.0456 19.3346 13.3164 19.8028 12.7478C20.2272 12.2326 20.271 12.1435 20.271 12C20.271 11.8565 20.2272 11.7674 19.8028 11.2522C19.1077 10.4082 18.0007 9.21001 16.6336 8.22646C15.2626 7.24007 13.6726 6.5 12.0007 6.5C11.3063 6.5 10.626 6.62768 9.9697 6.84765L9.19066 6.06861Z' fill='%23222222'/%3e%3cpath d='M5 2L21 18' stroke='%23222222'/%3e%3c/svg%3e");
    }
  }
}
.form-light{
  .form-item{
    label{color: var(--fill-icon);}
    input, textarea{
        background-color: var(--imput-imput-gray);;
    }
  }
}
.form-item.form-item--border{
  input, textarea{
    background-color: transparent;
    border:0;
    border-bottom: 1px solid var(--text-grey-input);
  }
}
/*******************/
.tooltip{
  position:absolute;
  z-index: 3;
  top: 0;
  right: 0;
  &-icon{
    width: 24px;
    height: 24px;
    cursor:pointer;
  }
  &-box{
    width: 270px;
    padding: 6px 8px;
    position: absolute;
    color: var(--style);
    background-color: var(--black-button);
    font-size: 14px;
    line-height: 1.6;
    font-family: $suisse;
    top: 50%;
    left: -7px;
    transition: .1s; 
    transform: translate(-100%, -50%) scale(0);
  }
  &-box:after{
    content: '';
    width: 7px;
    height: 10px;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 5L7 10L7 0L0 5Z' fill='%23313131' /%3e%3c/svg%3e");
    position: absolute;
    right: -7px;
    top:50%;
    transform: translateY(-50%) rotate(180deg);
  }
  &.tooltip--right{
    .tooltip-box{
      left: auto;
      right:-7px;
      transform: translate(100%, -50%) scale(0);
      &:after{
       display: none;
      }
      &:before{
        content:'';
        display: block;
        width: 7px;
        height: 10px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 5L7 10L7 0L0 5Z' fill='%23313131' /%3e%3c/svg%3e");
        position: absolute;
        top: 50%;
        left: -7px;
        transform: translateY(-50%);
      }
    }
        &:hover .tooltip-box {
          transform: translate(100%, -50%) scale(1);
        }
  }
  &:hover .tooltip-box{
    transform: translate(-100%, -50%) scale(1);
  }
}
/*custom select*/
.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;

  background: var(--style);
  border: 1px solid var(--style);
  height: 64px;

  padding-left: 16px;
  padding-right: 35px;
  font-size: 18px;
  cursor: pointer;
  span{
    color: var(--text-grey-input);
    opacity: .6;
  }
}

.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 24px;
  height: 24px;
  display: block;
  z-index: 2;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 9L12 15L6 9' stroke='%23222222' stroke-linecap='round' /%3e%3c/svg%3e");
  transition: .3s; 
  /* Снимаем клик с треугольника */
  pointer-events: none;
}
.dropdown__button.dropdown__button--active:after{
  transform: translateY(-50%) rotate(180deg);
}

.dropdown__list {
  display: none;
  position: absolute;
  left: 0;
  top: 72px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #FFFFFF;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  
  ul{
    margin-block:10px; 
    max-height: 340px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-grey-input) white;
    &::-webkit-scrollbar{
      display: block;
      width: 3px;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--text-grey-input);
      width: 3px;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color:white;
      border-radius: 5px;
    }
  }
}

.dropdown__list--visible {
  display: block;
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.16);
}

.dropdown__list-item {
  margin: 0;
  padding: 0;
  border-bottom: 0px;
  padding: 4px 16px;
  line-height: 1.5;
  transition: .3s; 
  cursor: pointer;
  &:hover{color: var(--text-grey);}
}

.dropdown__input-hidden {
  display: none;
}