.modal-wrapper{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	.modal-body{
		position: relative;
		padding: 48px 24px;
		width: min(1248px, calc(100% - 48px));

		background: var(--style);
		@media (max-width: 767px) {
			width:100%;
		}
	}
}
.size-table{
	
	th{text-align: left;font-weight: 400;}
	
	th, td{
		width: 200px;
		font-size: 16px;
		line-height: 1.50;
		border: 1px solid var(--grey-line);
		padding: 4px 20px;	
	}
}