.modal-wrapper{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10;
	display: none;
	&.active{display: flex;}
	.modal-body{
		position: relative;
		padding: 48px 24px;
		width: min(1248px, calc(100% - 48px));
		background: var(--style);
		@media (max-width: 1199px) {
		max-height: calc(100vh - 80px);
		overflow: hidden;
			overflow-y: auto;
			scrollbar-width: none;
			&::-webkit-scrollbar{display: none;}
		}
		@media (max-width: 767px) {
			width:100%;
			padding: 48px 14px;
			height: 100%;
			max-height: 100dvh;;
			
		}
	}
	@media (max-width: 767px) {
	   top:56px;
	   min-height: unset;
	   bottom: 0;
	}
}
