.modal-wrapper--simple{
	
	.modal-body{
		height: 476px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		&__content>*+*{margin-top: 20px;}
		@media (max-width: 767px) {
			height: calc(100dvh - 56px);
			&__content>*+* {
					margin-top: 8px;
				}
		}
	}
}