.select-color{
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding-bottom: 5px;
}
.prod-card__img{
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		// width: 100%;
		// height: 100%;
		// object-fit: contain;
	}
}