extends ../layouts/layout.pug

block content
	.page-wrapper.bg-blue
		
		include ../sections/_header
		main.main.flx-center
			include ../sections/_authoriz-form.pug


block variables
	-var title = "Авторизация";