extends ../layouts/layout.pug

block content
	.start-page
		h1 North Bloom
		.start-page__cards
			a(href="../ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="authorization.html")
				span Страница Авторизации
			a(href="partners-form.html")
				span Стать партнером(форма)
			a(href="partners-success.html")
				span Заявка партнерства принята!
			a(href="catalogy.html")
				span Каталог
			a(href="single-product.html")
				span Страница товара
			a(href="technology.html")
				span Материалы и технологии
			a(href="vacancies.html")
				span Вакансии
			a(href="success-form-send.html")
				span Заявка на вакансию принята
			a(href="contacts.html")
				span Контакты
			a(href="stores.html")
				span Магазины
			a(href="about.html")
				span О Бренде
			a(href="404.html")
				span Упс...! 404
			a(href="success-form-support.html")
				span Успешная отправка формы
block variables
	-var title = "Start page";
