extends ../layouts/layout.pug

block content
	.start-page
		h1 North Bloom
		.start-page__cards
			a(href="../ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="authorization.html")
				span Страница Авторизации
			a(href="partners-form.html")
				span Стать партнером(форма)
			a(href="partners-success.html")
				span Заявка принята!
			a(href="catalogy.html")
				span Каталог
			a(href="single-product.html")
				span Страница товара
block variables
	-var title = "Start page";
