extends ../layouts/layout.pug

block content
	.page-wrapper

		//- include ../blocks/_preloader
		
		include ../sections/_header
		main.main
			include ../sections/_main-hero

		
		//- footer.footer
		//- 	.txt-center FOOTER

block variables
	-var title = "Главная";
