extends ../layouts/layout.pug

block content
	.page-wrapper

		//- include ../blocks/_preloader
		
		include ../sections/_header
		include ../sections/_main-hero

		main.main
		footer.footer
			.txt-center FOOTER

block variables
	-var title = "Главная";
