extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--white
		include ../sections/_header
		main.inner-main
			section.inner-search-form
				.container
					form.search-form
						.form-item.form-item--border
							.form-input
								input(type="search" name="search_input" placeholder="Что Вы ищите?")
								//===== кнопка reset ====
								button.btn-clear(type="reset")
									svg.svg-close
										use(href='./img/sprite.svg#svg-close')
			section.search-result
				.container
					//====хлебные крошки===
					.breadcrumbs
						//===ссылки отображаются на десктоп версии и скрываются на < 1024px
						a(href="index.html") Главная
						a(href="#!") Верхняя одежда
						//===== этот пункт хлебных крошек отображается на экранах до 1024px
						p
							a(href="index.html").txt-24.chevron-link
								svg.svg-chevron-left
									use(href='./img/sprite.svg#svg-chevron-left')
								span Куртки
					//====сообщение, если  поиск не дал результатов ====
					.search-result--empty
						.txt-24.mb-16  К сожалению, запрашиваемой страницы на сайте нет.
						p Мы предлагаем вам посмотреть наши новые модели одежды для #[br.visible-mobile] #[a(href="index.html").blue-link мужчин] и #[a(href="index.html").blue-link женщин]
							
		include ../sections/_footer
		

block variables
	-var title = "Контакты";