extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--white#product-page
		include ../sections/_header
		main.inner-main.pt-md-0

			include ../sections/_single-product

		include ../sections/_footer
		

block variables
	-var title = "Страница товара";