extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--white
		include ../sections/_header
		main.inner-main

			include ../sections/_single-product

		include ../sections/_footer
		

block variables
	-var title = "Страница товара";