extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--white
		include ../sections/_header
		main.inner-main
			include ../sections/_stores-content

		include ../sections/_footer
	//=======отложенная загрузка карты===
	script.
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById('loadMapButton').addEventListener('click', function() {
				const mapWrapper = document.getElementById('map');
				mapWrapper.style.display = 'block'; // Показываем блок карты

				const script = document.createElement('script');
				script.src = 'https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=false';
				script.async = true;
				script.defer = true;
				script.onload = function() {
				console.log('Yandex Map script loaded successfully.');
				};
				script.onerror = function() {
				console.error('Error loading Yandex Map script.');
				};
				mapWrapper.appendChild(script);
			});
		});
block variables
	-var title = "Магазины";