extends ../layouts/layout.pug

block content
	.page-wrapper.page-wrapper--white
		include ../sections/_header
		main.inner-main
			include ../sections/_vacant-content

		include ../sections/_footer
		include ../blocks/_modal-vacancy-form
		include ../blocks/_modal-success-send
		

block variables
	-var title = "Вакансии";